
@{
    ViewBag.Title = "uploadCSV";
}

<h2>Subida de Datos CSV</h2>

@using (Html.BeginForm("uploadCSV", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <input type="file" name="fileForm" />
    <input type="submit" value="enviar" />

}


